/* ID Styles */

main#icons {
	flex-direction: row;
	gap: 50px;
}

/* Class Styles */

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* Child Styles */

header > a {
	margin-left: 20px;
	font-family: 'Square Peg', cursive;
	font-weight: 400;
	text-transform: none;
	font-size: 30px;
}

li a {
	display: inline-block;
	padding: 20px 20px;
}

li a:hover {
	background-color: #c31f32;
}

main section {
	min-width: 350px;
	max-width: 560px;
}

main img {
	float: right;
	max-width: 302px;
	min-width: 302px;
	min-height: 302px;
	margin-bottom: 20px;
}

footer p {
	padding: 25px;
	color: white;
	margin-top: 0px;
}

/* Section Styles */

body {
	font-family: Verdana;
	min-height: 100vh;
}

header {
	background-color: #970011;
	justify-content: space-between;
	align-items: center;
	margin-bottom: auto;
}

footer {
	display: flex;
	justify-content: center;
	background-color: #970011;
	margin-top: auto;
}

main {
	justify-content: center;
	margin: 35px 0px;
	gap: 30px;
	flex-wrap: wrap;
}

/* Global Styles */

a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

li {
	display: inline;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

p {
	margin-top: 20px;
	line-height: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

figcaption {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-style: italic;
}

/* Media Queries */

@media screen and (max-width: 2880px) and (min-height: 900px) {
	main section {
		min-width: 340px;
		max-width: 700px;
	}

	h1 {
		font-size: 30px;
	}

	section > p {
		font-size: 18px;
		line-height: 28px;
	}
}

@media screen and (max-width: 900px) {
	main.flex-row {
		flex-direction: column;
		align-items: center;
	}

	main.flex-row img {
		min-width: 120px;
		max-width: 302px;
	}

	main section {
		max-width: 600px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 675px) {
	main section {
		max-width: 500px;
	}

	header.flex-row {
		justify-content: center;
	}

	header > a {
		display: none;
	}

	nav ul li a:nth-child(1) {
		margin-left: 0;
	}

	nav ul li a {
		font-size: 12px;
	}

	footer p {
		font-size: 12px;
	}
}

@media screen and (max-width: 485px) {
	main section {
		max-width: 300px;
	}
}